{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 style="color: #4a4a48!important;">GENERAL TERMS AND CONDITIONS</h1>
            {#<p><b>1. General provisions </b></p>#}
            {#<p>Please read these General Terms and Conditions carefully before purchasing goods on the website <a#}
                        {#href="http://head.com/">www.head.com</a>. By purchasing goods from this website, you#}
                {#automatically consent to these General Terms and Conditions.</p>#}
            {#<p><b>2. Order process and conclusion of this contract</b></p>#}
            {#<p>2.1. The order process via our online shop consists of several steps. First, you select the desired#}
                {#goods. Second, you must provide your customer data, including the billing address and delivery address#}
                {#(if different). Third, you must select the payment method. At the end, you can check all the information#}
                {#provided (e.g. name, address, payment method, ordered goods) and correct that information if necessary#}
                {#before placing your order with us by clicking on "Buy now" and thus confirming it.</p>#}
            {#<p>2.2. By placing your order, you made a binding offer towards us to conclude a contract with you. We may#}
                {#accept this offer by sending you an order confirmation via e-mail or by delivering the ordered goods. A#}
                {#sales contract shall only be considered to be concluded after we have sent an order confirmation via#}
                {#e-mail or after the ordered goods have been delivered to your address. Our order confirmation will be#}
                {#sent to the e-mail address provided by you; such confirmation will contain a list of all relevant order#}
                {#information as well as information on the payment method, customer service, warranty and data protection#}
                {#and a cancellation policy.</p>#}
            {#<p>2.3. If, for any reason, we are unable to fulfil your order, we shall notify you by e-mail.</p>#}
            {#<p>2.4. You must guarantee that all the information you provided to HEAD in your enquiry or in your order is#}
                {#correct and complete. HEAD shall not be obligated to accept orders but shall have the right, at any time#}
                {#and without giving reasons, to examine orders in advance and to reject them.</p>#}
            {#<p><b>3. My account</b></p>#}
            {#<p>3.1. On the condition that you provide all required data during the order process, you may place orders#}
                {#with us without setting up a personal user account. However, you also have the possibility to set up#}
                {#your personal user account with a password. This means that your personal data will be saved and you#}
                {#need not enter your information again when placing a new order with us. You also have access to the "My#}
                {#account" section which provides a comprehensive overview of your profile, orders which have not yet been#}
                {#delivered, past orders as well as delivery and payment details. Please click <a#}
                        {#href="https://shop.head.com/en/customer/account/create/">here</a> if you do not currently have#}
                {#an account and would like to find out how to set one up.</p>#}
            {#<p>3.2. If you set up and use an account on our website, you shall be responsible for protecting your#}
                {#account and your password and for restricting access to your computer. Furthermore, you declare that you#}
                {#agree – to the legally permissible extent – to be liable for all activities which are performed through#}
                {#your account and/or with your password. You must take all required measures to ensure that your password#}
                {#is kept confidential and stored in a safe place and you should notify us immediately if you have reason#}
                {#to believe that a third party has gained access to your password or that your account is being used#}
                {#without prior authorisation or that such unauthorised use is likely.</p>#}
            {#<p><b>4. Tracking your order</b></p>#}
            {#<p>You can track your order using the tracking number provided in the order confirmation e-mail. You may#}
                {#access the website of our courier services provider which contains up-to-date information on your order#}
                {#and the delivery.</p>#}
            {#<p><b>5. HEAD Custom Made Products</b></p>#}
            {#<p>5.1. For the creation of HEAD Custom Made products, you can provide a combination of letters and change#}
                {#the colours of a product and possibly change other features. This option is available for certain#}
                {#products only. Although we accept the majority of "HEAD Custom Made" orders, we are unable to accept all#}
                {#of them. Some orders may contain materials which we consider to be inappropriate or which we are#}
                {#un-willing to combine with our products. While we reserve the right to reject your order for the#}
                {#personalisation of our goods, you agree that you will be exclusively responsible for the commissioned#}
                {#work. If, at our discretion, your order is not acceptable, we shall have the right to reject your order#}
                {#or to cancel your purchase at a later time; in this case, you will be informed by e-mail.</p>#}
            {#<p>5.2. You shall guarantee that the personalisation of our products according to your order does not#}
                {#violate any third-party rights and that you are entitled to assign this right to us. You shall agree#}
                {#that no intellectual property rights result from your personalisation. If you have intellectual property#}
                {#rights, these will be transferred to us. To the extent to which such transfer is invalid, you shall#}
                {#grant us an exclusive and limited licence free of charge to use you personalisation as well as to copy,#}
                {#process, amend and present it in public, to digitalise, produce and to distribute it as well as the#}
                {#right to sublicense this right (or parts of it).</p>#}
            {#<p>5.3. You agree that you have no right to assert any claim against us or other parties if personalisations#}
                {#identical or similar to yours are used or planned by others. </p>#}
            {#<p>5.4. Please consider a measuring tolerance of +/- 1mm/0.04 inches and +/- 1gr/0.04oz for our HEAD Custom#}
                {#Made racquets. All measurement values are based on the conversion from the metric system. The#}
                {#measurement values are based on measuring devices which we use at our Kennelbach production site in#}
                {#Austria.</p>#}
            {#<p>5.5. Since this is a custom-made product manufactured on the basis of your specifications, you have no#}
                {#right to revoke, cancel or return your order. Any legal warranty rights shall not be affected by#}
                {#this.</p>#}

            {#<p><b>6. Prices, shipping charges</b></p>#}
            {#<p>6.1. All prices include all taxes, including sales tax and fees, where these are not separately#}
                {#indicated.</p>#}
            {#<p>6.2. HEAD calculates delivery and shipping charges separately for each delivery address. Charges to be#}
                {#paid by you for delivering your order will be shown to you before we ask you to confirm you order.#}
                {#Please note that prices for our HEAD Custom Made articles will vary. Prior to order confirmation, we#}
                {#will provide detailed information on the price calculation and the final price for your goods. The total#}
                {#shipping charges will be automatically calcu-lated and shown to you before the order process is#}
                {#finalised.</p>#}
            {#<p>6.3. In case of deliveries to countries which are not part of the European Economic Area, all relevant#}
                {#import and export expenses as well as all possible charges and fees must be borne by you.</p>#}
            {#<p><b>7. Delivery conditions</b></p>#}
            {#<p>7.1. On our website, you will find information on the availability and delivery time of products which#}
                {#are sold by <a href="http://head.com/">www.head.com</a> (e.g. on the respective product detail page). We#}
                {#would like to point out that all information on product availability are only estimates and approximated#}
                {#values. If during the order processing, HEAD notices that the products ordered by you are not available,#}
                {#you will be informed about this in a separate e-mail. Your legal rights shall not be affected by this.#}
            {#</p>#}
            {#<p>7.2. You shall bear all costs resulting from unsuccessful delivery if it is impossible to deliver the#}
                {#goods to you because they are too big for your house or flat entrance door or for the staircase, or#}
                {#because you were not available at your provided delivery address, even though you had been informed#}
                {#about the time of delivery in good time. </p>#}

            {#<p><b>8. Transfer of risks</b></p>#}
            {#<p>In case of contracts under which we deliver goods to you, the risks relating to loss or dam-age to the#}
                {#goods shall always be transferred to you once you or a third party appointed by you who is not the#}
                {#haulage contractor have taken possession of the goods. Irrespective of your rights vis-à-vis the haulage#}
                {#contractor, once the goods are handed over to the haulage contractor the risk shall be transferred to#}
                {#you if the haulage contractor was commissioned by you to transport the goods and this option was not#}
                {#offered by us.</p>#}
            {#<p><b>9. Payment conditions</b></p>#}
            {#<p>9.1. Ordered products must be paid for in full before such orders will be delivered to you. We accept the#}
                {#following payment methods:</p>#}
            {#<ul>#}
                {#<li>Visa Credit Card</li>#}
                {#<li>Master Card Credit Card</li>#}
                {#<li>PayPal®</li>#}
                {#<li>Preypayment</li>#}
            {#</ul>#}
            {#<p>9.2. If, for any reason, the amount payable for your order cannot be collected, your order will be#}
                {#cancelled.</p>#}

            {#<p><b>10. Revocation of orders and return information </b></p>#}
            {#<p>10.1. Right of revocation </p>#}
            {#<p>10.1.1. The revocation period is two weeks. You have the right, without giving reasons, to revoke the#}
                {#contract within fourteen (14) days from the day when you or a third party appointed by you who is not#}
                {#the haulage contractor took possession of the goods.</p>#}
            {#<p>10.1.2. To execute your right of revocation, you must inform us (HEAD Sport GmbH, attention of “Customer#}
                {#Service HEAD”, Schweizer Strasse 96/Halle 4, A-6830 Rankweil, Austria, or by fax to +43 5574 608 311or#}
                {#by e-mail to: <a href="mailto:service@shop.head.com">service@shop.head.com</a>) in due time of your#}
                {#intention to revoke this contract. For this purpose, you may use the <a#}
                        {#href="http://cdn-mdb.head.com/magento/pdf/wrf_en.pdf">revocation form template</a> which is#}
                {#available on our website; however, this is not mandatory.</p>#}
            {#<p>10.1.3. Sending notification of exercising the right of revocation before the cancellation period ends is#}
                {#sufficient for the compliance with the cancellation period.</p>#}
            {#<p>10.2. Consequences of revocation </p>#}
            {#<p>10.2.1. If this contract is revoked, we will reimburse to you all payments for the purchased goods which#}
                {#you have returned (including regular delivery costs, but excluding higher delivery costs resulting from#}
                {#choosing a special delivery form). Such reimbursement shall occur immediately or, subject to the#}
                {#situations mentioned below, within fourteen (14) days at the latest from the day we receive your#}
                {#notification of revocation. For this refund, we will use the same means of payment which you used for#}
                {#the original transaction, unless we expressly agree upon something else with you. We will under no#}
                {#circumstances charge any fees to you for such reimbursement. We have the right to deny a refund until#}
                {#you have returned the goods to us or until you provided us with evidence that you have sent the goods#}
                {#back, whichever is earlier.</p>#}
            {#<p>10.2.2. You must immediately, or, in any case, within fourteen (14) days at the latest return the goods#}
                {#from the day when you notify us of the cancellation of the contract. The term is deemed complied with if#}
                {#you ship the goods before the end of the term of fourteen (14) days.</p>#}
            {#<p>10.2.3. The direct cost of returning the goods shall be borne by you. However, if you want to return the#}
                {#goods free of charge, please contact our customer service at <a href="mailto:service@shop.head.com">service@shop.head.com</a>;#}
                {#they will provide you with a prepaid return label from our courier services provider which is absolutely#}
                {#required to return goods free of charge. Please put the article(s) into a box, attach the prepaid return#}
                {#label so that it is clearly visible on the upper side of the box and post the package at the nearest#}
                {#office of our courier services provider.</p>#}
            {#<p>10.2.4. You shall be responsible for handling the goods with due care and shall be liable for damage#}
                {#caused by you. We reserve the right to claim damages for returned goods which were used or damaged in#}
                {#any other way by you. You will be required to compensate a loss in value if this loss in value can be#}
                {#traced back to a use by you which was not necessary for checking the quality, features or functionality#}
                {#of the goods. We expressly reserve the right to deduct all damages/losses in value from amounts which we#}
                {#must reimburse to you (set-off).</p>#}
            {#<p>10.2.5. Our online shop does not offer the possibility to directly exchange ordered goods. If you do not#}
                {#wish to keep your goods, please send a notification of revocation as well as the goods back to us#}
                {#according to our return information and simply place a new order to receive the selected goods in#}
                {#another size or colour.</p>#}
            {#<p>10.3. Exclusion of the right of revocation</p>#}
            {#<p>The right of revocation does not apply to contracts regarding</p>#}
            {#<ul>#}
                {#<li>the supply of goods or services for which the price is dependent on fluctuations in the financial#}
                    {#market which cannot be controlled by the trader and which may occur within the withdrawal period;#}
                {#</li>#}
                {#<li>the supply of goods made to the consumer’s specifications or clearly personalised;</li>#}
                {#<li>the supply of goods which are liable to deteriorate or expire rapidly;</li>#}
                {#<li>the supply of sealed goods which are not suitable for return due to health protection or hygiene#}
                    {#reasons and were unsealed after delivery;#}
                {#</li>#}
                {#<li>the supply of goods which are, after delivery, according to their nature, inseparably mixed with#}
                    {#other items;#}
                {#</li>#}
                {#<li>the supply of alcoholic beverages, the price of which has been agreed upon at the time of the#}
                    {#conclusion of the sales contract, the delivery of which can only take place after 30 days and the#}
                    {#actual value of which is dependent on fluctuations in the market which cannot be controlled by the#}
                    {#trader;#}
                {#</li>#}
                {#<li>the supply of sealed audio or sealed video recordings or sealed computer software which were#}
                    {#unsealed after delivery;#}
                {#</li>#}
                {#<li>the supply of a newspaper, periodical or magazine with the exception of subscription contracts for#}
                    {#the supply of such publications.#}
                {#</li>#}
            {#</ul>#}

            {#<p><b>11. Customer service</b></p>#}
            {#<p>If you have any questions, comments or complaints relating to your ordered goods, please contact us#}
                {#at</p>#}
            {#<ul>#}
                {#<li>HEAD Sport GmbH, attention of: "Customer Service HEAD", Wuhrkopfweg 1, A-6921 Kennelbach, Austria,#}
                    {#e-mail: <a href="mailto:service@shop.head.com">service@shop.head.com</a>, fax no. +43 5574 608 311,#}
                    {#phone number 00 800 10103030.#}
                {#</li>#}
            {#</ul>#}
            {#<p>If you have any questions, comments or complaints relating to HEAD Custom Made products, please contact#}
                {#us at:</p>#}
            {#<ul>#}
                {#<li>HEAD Sport GmbH: "Customer Service HEAD", e-mail:#}
                    {#<a href="mailto:custommade@shop.head.com">CustomMade@shop.head.com</a>,#}
                    {#phone number 00 800 10103030, send a fax to +43 5574 608 311 or simply send a letter to HEAD Sport#}
                    {#GmbH, Wuhrkopfweg 1, A-6921 Kennelbach, Austria.#}
                {#</li>#}
            {#</ul>#}
            {#<p><b>12. Warranty and Liability </b></p>#}
            {#<p>12.1 When ordering goods from this website, please note the general information and the special#}
                {#information for the respective product (in particular, but not limited to information on features,#}
                {#selection, maintenance and use of products as well as security of products) displayed on our website as#}
                {#well as the instructions contained in our manuals.</p>#}
            {#<p>Skiing and snowboarding are hazardous activities. The sport of skiing/snowboarding and the use of#}
                {#ski/snowboard equipment involve a risk of injury to any and all parts of the body. Bindings should be#}
                {#mounted, adjusted and maintained (annually or after every 15 to 20 days of use) and ski/snowboard boots#}
                {#should be fitted to the bindings only by certified ski/snowboard mechanics in accordance with the#}
                {#manufacturer’s specifications (see Technical Manual). Nevertheless the use of such bindings cannot#}
                {#guarantee the skier’s/snowboarder’s safety or freedom from injury while skiing/snowboarding.</p>#}
            {#<p>12.2 Warranty is based on legal provisions. Complaints on the basis of legal warranty claims may be#}
                {#asserted on presentation of proof of purchase with the customer service mentioned above.</p>#}
            {#<p>12.3 Our liability shall be limited, to the greatest extent allowed by law.</p>#}
            {#<p>12.4 Any damage caused by abuse or improper use, adjustment or maintenance as well as normal wear and#}
                {#tear is not covered.</p>#}
            {#<p>In no event shall we or our agents be liable for incidental or consequential damages, whether the claim#}
                {#is based upon contract, warranty, negligence or product liability, including, without limitation, loss#}
                {#to property other than the product itself, loss of use of any property, or other economic losses.#}
                {#Neither we nor any distributor or dealer shall be liable for contribution or indemnification, whatever#}
                {#the cause.#}
            {#<p><b>13. Data protection</b></p>#}
            {#<p>Please also consider in this context the <a href="https://shop.head.com/en/legal-notice/">data protection#}
                    {#provisions</a> which are accessible on our website.#}
                {#If provisions contained in these General Terms and Conditions and in the downloadable data protection#}
                {#provisions are contradictory, the more recent provisions shall be applicable.</p>#}
            {#<p>13.1. Data processing </p>#}
            {#<p>13.1.1. In case of sales contract initiation, conclusion, processing and rescission, we will acquire,#}
                {#save and process data in compliance with legal provisions.</p>#}
            {#<p>13.1.2. All personal data which you provide to us in the framework of the website use will be used in#}
                {#compliance with our data protection provisions.</p>#}
            {#<p>13.1.3. When visiting our website, the current IP address of your computer, the date and time, the#}
                {#browser type and the operating system of your computer as well as all pages which you visited will be#}
                {#recorded. However, this information does not enable us to track personal data, nor do we intend to#}
                {#access such data.</p>#}
            {#<p>13.1.4. Personal data with which you provide us with when placing an order or when sending an e-mail#}
                {#(such as your name and contact information, but also other personal data which are saved in relation to#}
                {#"HEAD Custom Made" orders) are exclusively used to communicate with you and will only be processed for#}
                {#the purposes for which they were provided. We will forward your payment information to the financial#}
                {#institution which was commissioned with processing the payment.</p>#}
            {#<p>13.1.5. We guarantee that your personal data are exclusively used for manufacturing, order or delivery#}
                {#processes relating to your goods and that they are not handed over to third parties, unless we are#}
                {#obligated to do so on a legal basis or if you agreed to this in advance. If we use third-party services#}
                {#to execute and process all handling processes, we will comply with the relevant data protection#}
                {#provisions.</p>#}
            {#<p>13.2. Duration of data storage</p>#}
            {#<p>Personal data which were provided to us through our website are only saved until the purpose for which#}
                {#the data were provided is fulfilled. If retention periods on the basis of commercial or tax law must be#}
                {#fulfilled, certain data may by saved for up to ten (10) years.</p>#}
            {#<p>13.3. Your rights and duties</p>#}
            {#<p>13.3.1. If you no longer consent to the saving of personal data by us or if these data are no longer#}
                {#correct, we will have them deleted, corrected or blocked in the framework of legal provisions on the#}
                {#condition that you send us a relevant instruction. Upon request, we will inform you of all personal data#}
                {#which we saved about you free of charge. If you have questions relating to the acquisition, processing#}
                {#and use of personal data or if you require information, corrections, blocking or deletion of data,#}
                {#please contact the customer service department mentioned above.</p>#}
            {#<p>13.3.2. You declare that information provided by us is true, accurate, updated and complete in every#}
                {#respect. In addition, you declare that you agree to inform us about changes to these data.</p>#}
            {#<p>13.4. Links to other websites</p>#}
            {#<p>If we refer or link to third-party websites from our website, we assume no warranty or liability as to#}
                {#the correctness and/or completeness of contents and the data protection on these websites. Since we have#}
                {#no influence on the compliance with data protection provisions by third parties, you should separately#}
                {#check the relevant data protection provisions offered on such websites.</p>#}
            {#<p><b>14. Applicable law/jurisdiction</b></p>#}
            {#<p>14.1. If not expressly otherwise stipulated by law, these General Terms and Conditions shall be#}
                {#exclusively subject to Austrian law; the UN sales convention (United Nationals Convention on Contracts#}
                {#of Internationals Sale of Goods) we well as any reference provisions shall be excluded. </p>#}
            {#<p>14.2. Legal disputes arising from or in relation to these General Terms and Conditions (including#}
                {#non-contractual disputes) shall be subject to the non-exclusive jurisdiction of Austrian courts on the#}
                {#condition that this does not violate the statutory right of other parties to initiate proceedings before#}
                {#another competent court on the basis of applicable procedural rights. </p>#}
            {#<p>However, in case of disputes we shall have the right to initiate proceedings against you before the court#}
                {#which is competent for your place of residence.</p>#}
            {#<p>Dated: August 2016</p>#}
        </div>
    </div>
{% endblock %}

